:root {
  --main-text-color: #2e2f42;
  --text-color: #434455;
  --secondary-text-color: #e7e9fc;
  --main-title-color: #ffffff;
  --white-bg: #ffffff;

  --button-color: #4d5ae5;
  --secondary-button-color: #f4f4fd;
  --button-text-color: #ffffff;
  --button-border-color: #e7e9fc;

  --accent-color: #4d5ae5;

  --hover-text-color: #404bbf;
  --hover-element-color: #404bbf;

  --accent-socials-color: #31d0aa;

  --main-bg-color: #2e2f42;
  --light-bg-color: #f4f4fd;

  --clients-icon-color: #8e8f99;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);

  --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --portfolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-color: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 16px;

  padding-top: 76px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -----------------------Header------------------------- */
.header {
  background-color: var(--white-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  min-height: 76px;
  border-bottom: 1px solid var(--button-border-color);
  z-index: 10;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--main-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

.nav-link {
  display: block;

  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 28px;

  transition: color var(--timing-function);
}

.address-link {
  display: block;

  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 28px;

  transition: color var(--timing-function);
}

.nav-link:is(:hover, :focus),
.address-link:is(:hover, :focus) {
  color: var(--hover-text-color);
}

.nav-link.current {
  color: var(--hover-text-color);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-element-color);
  border-radius: 2px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.address-container {
  margin-left: auto;
}
.address-list {
  display: flex;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list {
  display: flex;
  margin-left: 76px;
}

/* -----------------------Hero------------------------- */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero.section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: var(--main-title-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  max-width: 500px;
  margin-bottom: 48px;
}

.hero-btn,
.modal-send-btn {
  min-width: 169px;
  height: 56px;
  display: block;

  font-family: "Roboto", sans-serif;
  color: var(--button-text-color);
  background-color: var(--button-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--timing-function);
}

.hero-btn:is(:hover, :focus),
.modal-send-btn:is(:hover, :focus) {
  background-color: var(--hover-element-color);
}

/* -----------------------Advantages------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.subtitle {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.advantages.section {
  padding-bottom: 0;
}

.advantage-list {
  display: flex;
}

.advantage-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.advantage-item:not(:last-child) {
  margin-right: 24px;
}

.advantage-icon-wrap {
  background-color: var(--light-bg-color);
  height: 112px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8px;
  border-radius: 4px;
}

.advantage-icon {
  display: block;
  width: 64px;
  height: 64px;
}

/* -----------------------Doing------------------------- */

.section-title {
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.doing-list {
  display: flex;
}

.doing-item {
  flex-basis: calc((100% -24px * 3) / 3);
}

.doing-item:not(:last-child),
.team-card:not(:last-child) {
  margin-right: 24px;
}
/* -----------------------Our Team------------------------- */

.team {
  background-color: var(--light-bg-color);
}

.team-list {
  display: flex;
}

.team-card {
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
}

.card-content {
  background-color: var(--main-title-color);
  text-align: center;
  padding: 32px 16px;
  border-bottom: 1px solid var(--button-border-color);
}

.socials-list {
  display: flex;
  gap: 24px;
}

.social-link {
  background-color: var(--button-color);
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-element-color);
}

.social-icon {
  width: 16px;
  height: 16px;
}

.team-card .section-text {
  margin-bottom: 8px;
}
/* -----------------------Our clients------------------------ */

.clients.section {
  padding-top: 130px;
}

.client-list {
  display: flex;
  gap: 24px;
}

.client-item {
  background-color: transparent;

  flex-basis: calc((100% - 24px * 5) / 6);
  height: 88px;
}
.client-icon {
  width: 104px;
  height: 56px;
  fill: var(--clients-icon-color);

  transition: fill var(--timing-function);
}

.client-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);

  transition: border var(--timing-function);
}

.client-link:is(:hover, :focus) {
  border: 1px solid var(--hover-element-color);
}

.client-link:is(:hover, :focus) > .client-icon {
  fill: var(--hover-element-color);
}
/* -----------------------Footer------------------------- */

.footer {
  background-color: var(--main-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer > .container {
  display: flex;
}

.footer .section-text {
  color: var(--secondary-text-color);
}

.footer .logo {
  color: var(--main-title-color);
  margin-bottom: 16px;
}

.footer .section-text {
  max-width: 264px;
  flex-shrink: 0;
}

.footer-subtitle {
  color: var(--main-title-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
  margin-bottom: 16px;
}

.footer .social-link {
  background-color: var(--footer-icon-bg);

  transition: background-color var(--timing-function);
}

.footer .social-icon {
  width: 24px;
  height: 24px;
}

.footer .socials-list {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-socials-color);
}

.footer .socials-wrap {
  margin-left: 120px;
  margin-right: 80px;
}

/* subscribe */
.subscribe-forms {
  display: flex;
  gap: 24px;
}

.footer-btn {
  display: block;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: #fff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 16px;

  transition: background-color var(--timing-function);
}
.footer-btn:hover {
  background-color: var(--hover-element-color);
}

.footer-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/paper-plane.svg);
  background-position: center;
}

.subscribe-mail {
  padding: 8px 16px;
  width: 264px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-mail::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
/* -----------------------Modal------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 10;

  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  background-color: #e7e9fc;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;

  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.modal-close-btn:hover {
  background-color: var(--hover-element-color);
  cursor: pointer;
  color: #ffffff;
}

.close-icon {
  display: block;
  width: 8px;
  height: 8px;
  fill: currentColor;
}

/* forms */

.modal-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  margin-bottom: 16px;
}

.form-field,
.last-form {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
}

.form-field {
  margin-bottom: 8px;
}
.last-form {
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--modal-form-color);
  margin-bottom: 4px;
}

.input-wrap {
  width: 100%;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  fill: currentColor;
  transition: fill var(--timing-function);
}

.input-icon.person-icon {
  height: 18px;
}

.form-field:focus-within .modal-input,
.last-form:focus-within .comment {
  border: 1px solid var(--hover-element-color);
}

.form-field:focus-within .input-icon {
  fill: var(--hover-element-color);
}
.modal-input,
.comment {
  background-color: transparent;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--timing-function);

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

/* policy  */
.policy-wrapper {
  margin-bottom: 24px;
}

.policy-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  cursor: pointer;
}

.policy-label {
  display: flex;
  align-items: center;
  width: 100%;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: #757575;
  cursor: pointer;
}

.policy-label::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;

  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;

  transition: background-color var(--timing-function),
    border var(--timing-function), background-image var(--timing-function);
}

.modal-send-btn {
  margin-left: auto;
  margin-right: auto;
}

.policy-checkbox:checked + .policy-label::before {
  background-color: var(--hover-element-color);
  background-image: url(../images/tick-icon.svg);
  background-origin: border-box;
  border: transparent;
}

.policy-link
/* .policy-link:hover,
.policy-link:visited  */ {
  color: var(--hover-text-color);
}

/* --------------------------------------------------------- */
/* -----------------------Portfolio------------------------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-bnt-list {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-button-color);
  color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  padding: 12px 24px;

  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--timing-function),
    color var(--timing-function), border var(--timing-function),
    box-shadow var(--timing-function);
}

.btn-list-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hover-element-color);
  color: var(--button-text-color);

  border: 1px solid transparent;
  box-shadow: var(--portfolio-btn-shadow);
}

.portfolio-link {
  box-shadow: var(--);
}

.card-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: var(--secondary-button-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: var(--accent-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 40px 32px;
  transform: translateY(100%);
  opacity: 0;

  transition: transform var(--timing-function), opacity var(--timing-function);
}

.portfolio-card:hover .card-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card > a {
  text-decoration: none;
  color: inherit;
}

.portfolio-card {
  flex-basis: calc((100% - 24px * 2) / 3);

  transition: transform var(--timing-function),
    box-shadow var(--timing-function);
}

.portfolio-card:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.portfolio-card .content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--button-border-color);
  border-left: 1px solid var(--button-border-color);
  border-right: 1px solid var(--button-border-color);
}
